<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
    	<div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand text-primary" href="/">SymfoTweet</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">lien</a>
                            </li>
                        </ul>
                        <div class="navbar-nav mb-2 mb-lg-0">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @{{ app.user.username }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="/account">Mon compte</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="/logout">Se déconnecter</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <a class="btn btn-primary me-2" href="/login">Se connecter</a>
                                <a class="btn btn-primary" href="/register">Créer un compte</a>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </nav>
            <main>
                {% block body %}{% endblock %}
            </main>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="action-button btn-primary rounded-pill p-3" href="/symfotweets/new">Post</a>
            {% endif %}
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2022 Symfotweet Corp</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Mentions légales</a>
                    </li>
                </ul>
            </footer>
        </div> 
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>